<mat-toolbar color="primary" class="nav">
  <span [routerLink]="['/']" class="title">Grocr</span>
  <span class="nav-spacer"></span>
  <button mat-button aria-label="nav button boards" [routerLink]="['/boards']">
    Boards
  </button>
  <button
    mat-icon-button
    class="nav-icon favorite-icon"
    aria-label="nav icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="nav-icon"
    aria-label="nav icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
