{% extends "base.html" %}

{% block topnav %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/trello/boards"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Grocr</span>
    </a>

    <ul class="nav nav-pills">

        <li class="nav-item">
            <a href="/trello/boards" 
                {% if "/trello/board" in request.path %} class=" nav-link active"aria-current="page" 
                {% else %} class="nav-link" {% endif %}>
                Boards
            </a>
        </li>
        <li class="nav-item">
            <a href="/trello/recipies" 
                {% if "/trello/recipies/" in request.path %} class=" nav-link active"aria-current="page" 
                {% else %} class="nav-link" {% endif %}>
                Recipies
            </a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">{{ request.path }}</a></li>
    </ul>
</header>
{% endblock %}
