<div class="container" *ngIf="board">
  <div class="filter-container">
    <button
      class="list-buttons"
      color="{{ list.color }}"
      *ngFor="let list of board?.lists"
      mat-raised-button
      (click)="toggleList(list)"
    >
      {{ list.name }}
    </button>
  </div>
  <div class="filter-container">
    <form class="search-form">
      <mat-form-field class="search-full-width">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchFormControl" />
        <button
          *ngIf="searchFormControl.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchFormControl.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <mat-chip-listbox aria-label="Recipe selection" multiple>
    <mat-chip-option
      *ngFor="let card of displayedCards"
      color="{{ card.color }}"
      [selected]="card.isSelected"
      (selectionChange)="selectionChange($event)"
      >{{ card.name }}</mat-chip-option
    >
  </mat-chip-listbox>
</div>
