<ng-template ngIf="board">
  <mat-tab-group>
    <mat-tab *ngFor="let list of board!.lists" label="{{ list.name }}">
      <mat-card class="board-card" *ngFor="let card of list.cards">
        <mat-card-header>
          <mat-card-title>{{ card.name }}</mat-card-title>
        </mat-card-header>
        <img
          *ngIf="card.backgroundImage"
          mat-card-image
          src="{{ card.backgroundImage }}"
          alt="Background of the Recipe board"
        />
        <mat-card-content>
          <div [innerHTML]="card.descriptionHtml"></div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</ng-template>
