{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<h1>Home</h1>

<div class="mb-3">
    <label for="Todoist_Project_Name" class="form-label">Todoist Project Name</label>
    <input type="text" class="form-control" id="Todoist_Project_Name" aria-describedby="Todoist_Project_Name_Help">
    <div id="Todoist_Project_Name_Help" class="form-text">Your Project were the ingredients will be synced to.</a></div>
</div>
<div class="mb-3">
    <label for="Todoist_Api_Key" class="form-label">Todoist API Key</label>
    <input type="password" class="form-control" id="Todoist_Api_Key" aria-describedby="Todoist_Api_Key_Help">
    <div id="Todoist_Api_Key_Help" class="form-text">Get your <a
            href="https://todoist.com/app/settings/integrations/developer" target="_blank">Todoist API Key</a>.</div>
</div>
<div class="mb-3">
    <label for="Trello_Api_Key" class="form-label">Trello API Key</label>
    <input type="password" class="form-control" id="Trello_Api_Key" aria-describedby="Trello_Api_Key_Help">
    <div id="Trello_Api_Key_Help" class="form-text">Get your <a href="https://trello.com/power-ups/admin/new"
            target="_blank">Trello Power up</a>.</div>
</div>
<div class="mb-3">
    <label for="Trello_Token" class="form-label">Trello Token</label>
    <input type="password" class="form-control" id="Trello_Token" aria-describedby="Trello_Token_Help">
    <div id="Trello_Token_Help" class="form-text">Get your <a href="https://trello.com/power-ups/admin/new"
            target="_blank">Trello Power up</a>.</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
"></script>

<script type="text/javascript">
    $(document).ready(function () {
        readApiKeys();

        $('.form-control').keyup(function (e) {
            saveCookie($(this).attr('id'), $(this).val())
        });

        $('.form-control').on('paste', function (evt) {
            var id = $(this).attr('id');
            catchPaste(evt, this, function (clipData) {
                saveCookie(id, clipData);
            });
        });

        function readApiKeys() {
            if(readCookie('Todoist_Project_Name') === undefined) {
                saveCookie('Todoist_Project_Name', 'Inbox')
            }

            $('#Todoist_Project_Name').val(readCookie('Todoist_Project_Name'));
            $('#Todoist_Api_Key').val(readCookie('Todoist_Api_Key'));
            $('#Trello_Api_Key').val(readCookie('Trello_Api_Key'));
            $('#Trello_Token').val(readCookie('Trello_Token'));
        }

        function readCookie(key) {
            return Cookies.get(key);
        }

        function saveCookie(key, value) {
            Cookies.set(key, value, { expires: 365 });
        }
    });

    function catchPaste(evt, elem, callback) {
        if (navigator.clipboard && navigator.clipboard.readText) {
            navigator.clipboard.readText().then(callback);
        } else if (evt.originalEvent && evt.originalEvent.clipboardData) {
            callback(evt.originalEvent.clipboardData.getData('text'));
        } else if (evt.clipboardData) {
            callback(evt.clipboardData.getData('text/plain'));
        } else if (window.clipboardData) {
            callback(window.clipboardData.getData('Text'));
        } else {
            setTimeout(function () {
                callback(elem.value)
            }, 100);
        }
    }
</script>
{% endblock %}